.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1f9999;
}
.optionBox {
    display: flex;
    justify-content: space-around;
}
.option {
    cursor: pointer;
    background-color: #05799c;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
}
.option:hover {
    background-color: #354753;
    color: #fff;
}
.buttonBox {
    margin: 10px auto;
    text-align: center;
}
.button {
    outline: none;
    width: 350px;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 6px;
    background: black;
    color: #fff;
    border: 2px solid black;
    box-shadow: 0px 10px 20px #fff;
}
.button:hover {
    background: #fff;
    color: black;
    border: 2px solid #fff;
    box-shadow: 0px 10px 20px #000;
}
.image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
.gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.gamerOverText {
    color: #fff;
}
.errorText {
    text-align: center;
    margin: -10px 0px;
    color: red;
    font-weight: bold;
}
.questionBox {
    box-shadow: 0px 10px 20px black;
    background: #fff;
    height: 280px;
    width: 350px;
    border-radius: 10px;
}
.figureBox {
    text-align: center;
}


@media only screen and (max-width: 500px) {
    .questionBox {
        width: 300px;
    }
    .optionBox {
        margin-top: 10px;
    }
    .button {
        width: 300px;
    }
}