.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1f9999;
}
.scoreBox {
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px black;
    background: #fff;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.heading {
    margin: 0;
}
.button {
    outline: none;
    width: 10%;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 6px;
    background: black;
    color: #fff;
    border: 2px solid black;
    box-shadow: 0px 10px 20px #fff;
}
.button:hover {
    background: #fff;
    color: black;
    border: 2px solid #fff;
    box-shadow: 0px 10px 20px #000;
}


@media only screen and (max-width: 500px) {
    .button {
        width: 80%;
    }
}